{% extends 'gis/base.html' %}

{% block title %}
    Earthquake Monitoring 2D
{% endblock %}
{% block earthqueaks_head %}
{#    <title> Earthquake Monitoring </title>#}
{#    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">#}
{#    <title>A classical earthquake 3D visualization</title>#}
{% endblock %}
{% block content %}
{#<script type = "text/javascript" src="./static/gis/earthquake2.js"></script>#}
 <style>
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.18/esri/themes/light/main.css"
    />
    <script src="https://js.arcgis.com/4.18/"></script>

    <script>
      require([
        "esri/Map",
        "esri/layers/GeoJSONLayer",
        "esri/popup/FieldInfo",
        "esri/views/MapView"
      ], function (Map, GeoJSONLayer, FieldInfo, MapView) {
        // If GeoJSON files are not on the same domain as your website, a CORS enabled server
        // or a proxy is required.
        const url ="./static/earthQuake.geojson";

        // Paste the url into a browser's address bar to download and view the attributes
        // in the GeoJSON file. These attributes include:
        // * mag - magnitude
        // * type - earthquake or other event such as nuclear test
        // * place - location of the event
        // * time - the time of the event
        // Use the Arcade Date() function to format time field into a human-readable format



         // Defines an action to zoom out from the selected feature
       var defineArticleAction = {
         // This text is displayed as a tooltip
         title: "Find the articles",
         // The ID used to reference this action in the event handler
         id: "find_art"
        };

        const template = {
          title: "Earthquake Info",
          content: "Magnitude {mag} hit {place}",
          {#content: popupChange,#}
          fieldInfos: [
            {
              fieldName: "{earthquake_id}",
              visible: false,
            }
          ],
           actions: [defineArticleAction]
        };


// The function used for the PopupTemplate
function getInfo(feature) {
  let graphic, attributes, content;
  graphic = feature.graphic;
  attributes = graphic.attributes;
  content =  "In year 2000:- " + attributes.pop2000 ;
  return content;
}

        // Execute each time the "Edit feature" action is clicked
        function find_art() {
            var fk = template.content
            console.log(fk)
        }


        const renderer = {
          type: "simple",
          field: "mag",
          symbol: {
            type: "simple-marker",
            color: "orange",
            outline: {
              color: "white"
            }
          },
          visualVariables: [
            {
              type: "size",
              field: "mag",
              stops: [
                {
                  value: 2.5,
                  size: "4px"
                },
                {
                  value: 8,
                  size: "40px"
                }
              ]
            }
          ]
        };

        {#function popupChange(feature) {#}
        {#  var div = document.createElement("div");#}
        {##}
        {#  // Add green arrow if the percent change is positive and a red arrow for negative percent change.#}
        {#  div.innerHTML =#}
        {#      features[0].id#}
        {#   return div;#}
        {#};#}

        const geojsonLayer = new GeoJSONLayer({
          url: url,
          popupTemplate: template,
          renderer: renderer //optional
        });


        const map = new Map({
          basemap: "gray-vector",
          layers: [geojsonLayer]
        });

        const view = new MapView({
          container: "viewDiv",
          center: [36, 50],
          zoom: 4,
          map: map
        });

        // Event handler that fires each time an action is clicked
        view.popup.on("trigger-action", function (event) {
          if (event.action.id === "find_art") {
            find_art();
          }
        });
      });

    {#var calDiv = document.querySelector(class = esri-feature-content);#}
    {#calDiv.addEventListener("click", changeFigure3);#}
    </script>







  <div id="viewDiv"></div>
{% endblock %}
</html>