{% extends 'gis/base.html' %}

{% block title %}
    GIS Online
{% endblock %}
{% block gis_online_head %}
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
   <style>
      html, body, #viewDiv {
        padding: 0;
        margin: 50px;
        height: 100%;
        width: 100%;
      }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.15/"></script>
      <script>
  require([
      "esri/Map",
      "esri/views/MapView",
      "esri/widgets/BasemapToggle",
      "esri/widgets/BasemapGallery",
      "esri/layers/FeatureLayer",
      "esri/Graphic",
      "esri/geometry/geometryEngine",
      "esri/widgets/Search",
      "esri/widgets/Locate"
    ], function(Map, MapView, BasemapToggle, BasemapGallery,FeatureLayer,Graphic, geometryEngine,Search,Locate) {


    var map = new Map({
      basemap: "topo-vector"
    });


    var view = new MapView({
      container: "viewDiv",
      map: map,
      center: [30.51559, 50.372416], // longitude, latitude 30°32'32.2 50°27'56.0
      zoom: 10
    });

    var locate = new Locate({
        view: view,
        useHeadingEnabled: false,
        goToOverride: function(view, options) {
          options.target.scale = 1500;  // Override the default map scale
          return view.goTo(options.target);
        }
      });

      view.ui.add(locate, "top-left");

    // Search widget
      var search = new Search({
        view: view
      });
      view.ui.add(search, "top-right" );

    var basemapToggle = new BasemapToggle({
        view: view,
        nextBasemap: "satellite"
      });
    view.ui.add(basemapToggle,"bottom-right");

    var basemapGallery = new BasemapGallery({
        view: view,
        source: {
          portal: {
            url: "https://www.arcgis.com",
            useVectorBasemaps: true  // Load vector tile basemaps
          }
        }
      });
    view.ui.add(basemapGallery, "top-right"); // Add to the view

      // Trailheads feature layer (points)
      var trailheadsLayer = new FeatureLayer({
        url: "https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trailheads/FeatureServer/0"
      });
      map.add(trailheadsLayer);

       // Trails feature layer (lines)
      var trailsLayer = new FeatureLayer({
        url: "https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0",

        popupTemplate: {  // Enable a popup
          title: "{TRL_NAME}" // Show attribute value
            // Display text in pop-up
        }
      });
      map.add(trailsLayer)

      var activeGraphic;

    function findNearestGraphic(event) {
      return view.hitTest(event).then(function (response) {
        var graphic, filteredResult;
        // Get the Trail graphics only
        if (response.results.length) {
          filteredResult = response.results.filter(function (result) {
            return (result.graphic.layer === trailsLayer);
          })[0];
        }
        // Only return new graphics are found
        if (filteredResult) {
          graphic = filteredResult.graphic;
          if (!activeGraphic || (activeGraphic.attributes.OBJECTID !== graphic.attributes.OBJECTID)) {
            return graphic;
          } else {
            return null;
          }
        } else {
          return null;
        }
      });
    }
    var bufferGraphic;

    function drawBuffer(bufferGeometry) {
      view.graphics.remove(bufferGraphic);
      bufferGraphic = new Graphic({
        geometry: bufferGeometry,
        symbol: {
          type: "simple-fill",
          color: "rgba(0,0,0,0)",
          outline: {
            color: "rgba(0,0,0,.5)",
            width: 1
          }
        }
      });
      view.graphics.add(bufferGraphic);
      view.ui.add(bufferGraphic,"top-left");
    }
    view.on("pointer-move", function(event){
      findNearestGraphic(event).then(function(graphic){
        if (graphic) {
          activeGraphic = graphic;
          var buffer = geometryEngine.geodesicBuffer(activeGraphic.geometry, .25, "miles");
          drawBuffer(buffer);
        }
      });
    });

  });
     </script>
{% endblock %}


{% block content %}
    <div id="viewDiv"></div>>
{% endblock %}